<section id="CONTACT" class="contacts">
  <div class="header">
    <h1 class="title">Message me</h1>
    <p class="desc">Dont't be afraid. Feel free to ask your doubts.</p>
  </div>
  <div class="contact-area">
    <div class="contact-info">
      <h1 class="heading">CONTACT</h1>
      <p>For any query, you can mail me.</p>
      <div class="details">
        <div class="detail">
          <img class="detail-image" src="/assets/images/contact/email.svg" alt="" />
          <h1 class="detail-field">
            <a href="mailto:sahupratham022003@gmail.com.com">
              sahupratham022003@gmail.com
            </a>
          </h1>
        </div>
        <div class="detail">
          <img class="detail-image" src="/assets/images/contact/phone.svg" alt="" />
          <h1 class="detail-field">+91 8349378115</h1>
        </div>
        <div class="detail">
          <img class="detail-image" src="/assets/images/contact/location.svg" alt="" />
          <h1 class="detail-field">Janjgir-Champa, Chhattisgarh, India</h1>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <h1>Say Hi to me</h1>
      <div class="form-area">
        <div class="row">
          <input type="text" autocomplete="off" placeholder="Name" class="name" [(ngModel)]="name" />
          <input type="text" autocomplete="off" placeholder="Email" class="email" [(ngModel)]="email" />
        </div>
        <input type="text" placeholder="Subject" class="subject" [(ngModel)]="subject" />
        <textarea [(ngModel)]="description" placeholder="Description" cols="50" rows="5"></textarea>
        <span class="contact-form-msg">*check email and description
        </span>
        <button class="submit-button" (click)="sendData()">SUBMIT</button>
      </div>
    </div>
  </div>
</section>