<section id="ABOUT" class="about">
  <div class="intro">
    <h1 class="heading">MYSELF</h1>
    <p class="desc">
      People can use
      <a class="desc-link"
        href="https://www.google.com/search?q=pratham_0094&oq=pratham_0094&aqs=chrome.0.69i59j69i64j0i546j69i60l2.2390j0j7&sourceid=chrome&ie=UTF-8"
        target="_blank">pratham_0094</a>
      to find me. I am passionate about design, want to be a stand-alone UI/UX
      designer. A disciplined person who loves to explore things either a place
      or a language.
    </p>
    <p class="desc">
      I'm a highly motivated web developer with design skills who likes to work
      hard and try every possible means to complete the work .I am the person
      who work neat and clean, who most use self made designs.
    </p>
  </div>
  <div class="brief">
    <div class="intro">
      <h1 class="heading">PROFILE</h1>
      <p class="desc">
        Bachelor in Computer Science and Engineering, Shri Shankaracharya
        Technical Campus
      </p>
      <p class="desc">Full Stack Developer, UI/UX and Graphic Designer</p>
      <div class="details">
        <p><span class="title">Name:</span><br />Pratham Sahu</p>
        <p><span class="title">Birth Date:</span><br />02 Feb, 2003</p>
        <p><span class="title">Phone Number:</span><br />+91 8349378115</p>
        <p>
          <span class="title">Address:</span><br />Janjgir-Champa, Chhattisgarh
        </p>
        <p>
          <span class="title">Email:</span><br />sahupratham022003@gmail.com
        </p>
      </div>
    </div>
    <div class="intro">
      <h1 class="heading">SKILLS</h1>
      <p class="desc">
        Mostly work on frontend side, but also experience of backend (MEAN and
        MERN Stack). And basic knowledge of React Native and Flutter.
      </p>
      <div class="skills">
        <div class="skill">
          <span>Web Development</span>
          <div class="progress-area">
            <div class="progress web"></div>
          </div>
        </div>
        <div class="skill">
          <span>Mobile Development</span>
          <div class="progress-area">
            <div class="progress mobile"></div>
          </div>
        </div>
        <div class="skill">
          <span>Graphic Designing</span>
          <div class="progress-area">
            <div class="progress design"></div>
          </div>
        </div>
        <div class="skill">
          <span>Data Structures and Algorithms</span>
          <div class="progress-area">
            <div class="progress dsa"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="resume-area">
    <button class="resume"><img src="/assets/images/about/work.svg" alt="resume">
      <a class="resume-text" href="/assets/Resume.pdf" download="Pratham-Sahu-Resume">RESUME</a>
    </button>
  </div>
</section>