<section id="HOME" class="header">
  <div class="image"></div>
  <div class="profile">
    <h2 class="profile-medium">I'M</h2>
    <h1 class="profile-info">PRATHAM SAHU</h1>
    <h1 class="profile-small">Competetive Coder | Developer</h1>
    <div class="socials">
      <button class="social-button">
        <a href="https://instagram.com/pratham_0094" target="_blank">
          <img src="/assets/images/home/instagram.svg" alt="instagram" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://twitter.com/pratham_0094" target="_blank">
          <img src="/assets/images/home/x.svg" alt="x" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://www.linkedin.com/in/pratham-sahu-513a00206/" target="_blank">
          <img src="/assets/images/home/linkedin.svg" alt="linkedin" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://github.com/pratham-0094" target="_blank">
          <img src="/assets/images/home/github.svg" alt="github" />
        </a>
      </button>
    </div>
  </div>
</section>
