<section id="PROJECTS" class="projects-section">
  <div class="container">
    <div class="left-content">
      <div class="content">
        <h2>Latest <span>Projects</span></h2>
        <p>Explore some of the projects I've worked on. Each project showcases my skills and dedication to delivering
          high-quality work.</p>
        <a href="https://github.com/pratham-0094" target="_blank" class="cta-button">View GitHub</a>
      </div>
      <div class="slider-nav">
        <button class="next" (click)="scroll()">&#8592;</button>
      </div>
    </div>
    <div class="slides" #slidesContainer>
      <div class="space"></div>
      <div class="slide">
        <img src="./images/projects/juicy-n-yummy.jpg" alt="Juicy-N-Yummy" class="project-image" />
        <div class="links">
          <a href="https://github.com/pratham-0094/Juicy-N-Yummy" target="_blank">
            <button class="social-button">
              Github
            </button>
          </a>
          <a href="https://pratham-0094.github.io/Juicy-N-Yummy" target="_blank">
            <button class="social-button">
              <mat-icon>call_made</mat-icon>
            </button>
          </a>
        </div>
      </div>
      <div class="slide">
        <img src="./images/projects/sweetandcrave.png" alt="SweetAndCrave" class="project-image" />
        <div class="links">
          <a href="https://sweetandcrave.framer.website/" target="_blank">
            <button class="social-button">
              <mat-icon>call_made</mat-icon>
            </button>
          </a>
        </div>
      </div>
      <div class="slide">
        <img src="./images/projects/brewbrust.png" alt="BrewBrust" class="project-image" />
        <div class="links">
        </div>
      </div>
      <div class="slide">
        <img src="./images/projects/eventflow.jpeg" alt="Eventflow" class="project-image" />
        <div class="links">
          <a href="https://github.com/prakhar-5447/eventflow" target="_blank">
            <button class="social-button">
              Github
            </button>
          </a>
          <a href="./images/projects/eventflow-case-study.pdf" download="eventflow-case-study" target="_blank">
            <button class="social-button">
              Case Study
            </button>
          </a>
          <a href="https://raw.githubusercontent.com/prakhar-5447/eventflow/main/eventflow.apk" target="_blank">
            <button class="social-button">
              <mat-icon>save_alt</mat-icon>
            </button>
          </a>
        </div>
      </div>
      <div class="space"></div>
    </div>
  </div>
  <div class="accordion-section">
    <h3>Beyond the <span>Highlights</span></h3>

    <div class="accordion-item" *ngFor="let project of moreProjects; let i = index">

      <div class="accordion-header" (click)="toggleAccordion(i)">
        <span class="header">{{ project.name }} <div *ngIf="project!.type" class="label">
            {{project.type}}</div></span>
        <span class="icon">{{ activeIndex === i ? '−' : '+' }}</span>
      </div>

      <div class="accordion-body" *ngIf="activeIndex === i">
        <p>{{ project.description }}</p>

        <div class="links">
          <a *ngFor="let link of project!.links" [href]="link.url" target="_blank">

            <button class="social-button">{{link.label}}</button>
          </a>

        </div>

      </div>

    </div>
  </div>
</section>