<!-- loader -->
<div class="loader-container" id="loader">
  <div class="loader"></div>
</div>

<button class="button" id="nav-button" mat-icon-button color="accent" (click)="nav_toggle()">
  <mat-icon id="icon">menu</mat-icon>
</button>

<div class="navigation">
  <nav class="nav" id="nav">
    <ul class="nav-items">
      <li (click)="active_toogle('HOME')" class="HOME nav-item active">HOME</li>
      <li (click)="active_toogle('ABOUT')" class="ABOUT nav-item">ABOUT</li>
      <li (click)="active_toogle('PROJECTS')" class="PROJECTS nav-item">
        PROJECTS
      </li>
      <li (click)="active_toogle('SERVICES')" class="SERVICES nav-item">
        SERVICES
      </li>
    </ul>
  </nav>
</div>

<app-home></app-home>

<div class="container" [style.backgroundImage]="'url(./images/about/bg.jpg)'">
  <app-about></app-about>
</div>

<div class="work"  [style.backgroundImage]="'url(./images/about/hire_bg.jpg)'">
  <p class="invite-message">Let's boost your <span>productivity</span> with me</p>
  <a href="mailto:sahupratham022003@gmail.com">
    <button class="invite-button">HIRE ME</button>
  </a>
</div>

<app-projects></app-projects>

<app-services></app-services>

<app-testimonials></app-testimonials>

<footer class="footer">
  <h1 class="copyright">
    Copyright © 2025 <span class="copywrite-author">Pratham Sahu</span>.
  </h1>
  <div class="footer-area">
    <p class="footer-message">
      Connect with me. I'm always ready to tallk about projects
    </p>
    <div class="socials">
      <button class="social-button">
        <a href="https://instagram.com/pratham_0094" target="_blank">
          <img src="./images/home/instagram.svg" alt="instagram" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://twitter.com/pratham_0094" target="_blank">
          <img src="./images/home/x.svg" alt="x " />
        </a>
      </button>
      <button class="social-button">
        <a href="https://linkedin.com/in/pratham-sahu-513a00206/" target="_blank">
          <img src="./images/home/linkedin.svg" alt="linkedin" />
        </a>
      </button>
      <button class="social-button">
        <a href="https://github.com/pratham-0094" target="_blank">
          <img src="./images/home/github.svg" alt="github" />
        </a>
      </button>
    </div>
  </div>
</footer>